<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feipulai.exam">
    <!-- 集成百度TTS时需要下列权限 -->
    <!-- 测试完成后，您自己的apAPP_KEYpSECRET_KEYtKey 请在 SynthActivity 和 MiniActivity 中修改 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.medicineBall.more_device.MedicineBallMoreActivity"></activity>
        <activity android:name=".activity.medicineBall.pair.MedicineBallPairActivity" />
        <activity android:name=".activity.sargent_jump.pair.VolleyBallPairActivity" />
        <activity android:name=".activity.sargent_jump.more_device.SargentTestGroupActivity" />
        <activity android:name=".activity.sargent_jump.more_device.SargentMoreTestActivity" />
        <activity android:name=".activity.sargent_jump.pair.SargentPairActivity" />
        <activity android:name=".activity.footBall.FootBallGroupActivity" />
        <activity android:name=".activity.sargent_jump.SargentItemSelectActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="com.feipulai.exam.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LEDSettingActivity" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.MachineSelectActivity" /> <!-- <activity android:name=".activity.ItemSelectActivity" /> -->
        <activity android:name=".activity.setting.AdvancedSettingActivity" />
        <activity
            android:name=".activity.data.DataRetrieveActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.data.DataManageActivity" />
        <activity
            android:name="com.feipulai.common.dbutils.FileSelectActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicineBall.MedicineBallTestActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicineBall.MedicineBallGroupActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.data.DataDisplayActivity" />
        <activity android:name=".activity.medicineBall.MedicineBallSettingActivity" />
        <activity
            android:name=".activity.RadioTimer.RunTimerActivityTestActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.RadioTimer.RunTimerSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.RadioTimer.RunTimerActivityGroupActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.standjump.StandJumpTestActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.standjump.StandJumpSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.standjump.StandJumpGroupTestActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.SitReachTestActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- jump rope -->
        <activity android:name=".activity.jump_rope.pair.JumpRopePairActivity" />
        <activity
            android:name=".activity.jump_rope.check.JumpRopeCheckActivity"
            android:configChanges="keyboardHidden|keyboard" />
        <activity android:name=".activity.jump_rope.test.JumpRopeTestActivity" />
        <activity android:name=".activity.jump_rope.setting.JumpRopeSettingActivity" />
        <activity android:name=".activity.jump_rope.base.result.RadioResultActivity" /> <!-- sit up -->
        <activity android:name=".activity.situp.pair.SitUpPairActivity" />
        <activity
            android:name=".activity.situp.check.SitUpCheckActivity"
            android:configChanges="keyboardHidden|keyboard" />
        <activity android:name=".activity.situp.setting.SitUpSettingActivity" />
        <activity android:name=".activity.situp.test.SitUpTestActivity" /> <!-- pull up -->
        <activity android:name=".activity.pullup.PullUpSelectActivity" />
        <activity android:name=".activity.pullup.pair.PullUpPairActivity" />
        <activity
            android:name=".activity.pullup.check.PullUpCheckActivity"
            android:configChanges="keyboardHidden|keyboard" />
        <activity android:name=".activity.pullup.setting.PullUpSettingActivity" />
        <activity android:name=".activity.pullup.test.PullUpTestActivity" />
        <activity android:name=".activity.pullup.test.PullUpIndividualActivity" />
        <activity android:name=".activity.pullup.test.PullUpGroupActivity" /> <!-- volleyball -->
        <activity
            android:name=".activity.volleyball.VolleyBallIndividualActivity"
            android:configChanges="keyboardHidden|keyboard" />
        <activity android:name=".activity.volleyball.VolleyBallSettingActivity" />
        <activity android:name=".activity.volleyball.VolleyBallGroupActivity" />
        <activity android:name=".activity.volleyball.VolleyballPatternSelectActivity" />
        <activity
            android:name=".activity.sitreach.SitReachGroupTestActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.SitReachSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.base.BaseGroupActivity" />

        <service
            android:name=".service.UploadService"
            android:exported="false" />
        <service
            android:name=".activity.MiddleDistanceRace.MyTcpService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.sargent_jump.SargentTestActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.sargent_jump.SargentGroupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.sargent_jump.SargentSettingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SubItemsSelectActivity" />
        <activity
            android:name=".activity.pushUp.PushUpIndividualActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.PushUpSettingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.test.PushUpTestActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.check.PushUpCheckActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.pair.PushUpPairActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.PushUpGroupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.pushUp.PushPatternSelectActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.basketball.BasketballIndividualActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.basketball.BasketBallSettingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.basketball.BasketBallGroupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.footBall.FootballIndividualActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.footBall.FootBallSettingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MiddleDistanceRace.MiddleDistanceRaceActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MiddleDistanceRace.MiddleRaceSettingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.UVCCameraActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.MiddleDistanceRace.MiddleDistanceRaceForPersonActivity" /> <!-- <activity android:name=".activity.volleyball.pair.VolleyBallMorePairActivity" /> -->
        <activity android:name=".activity.volleyball.more_devices.VolleyBallMoreTestActivity" />
        <activity android:name=".activity.volleyball.more_devices.VolleyBallMoreGroupActivity" />
        <activity android:name=".activity.footBall.FootBallItemSelectActivity" />
        <activity android:name=".activity.basketball.BasketBallSelectActivity" />
        <activity android:name=".activity.basketball.wiress.BasketBallPairActivity" />
        <activity android:name=".activity.volleyball.more_devices.VolleyBallMore2TestActivity" />
        <activity android:name=".activity.medicineBall.MedicineBallSelectActivity" />
    </application>

</manifest>