<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feipulai.host">
    <!-- 集成百度TTS时需要下列权限 -->
    <!-- 测试完成后，您自己的apAPP_KEYpSECRET_KEYtKey 请在 SynthActivity 和 MiniActivity 中修改 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.data.UpdateAppActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pullup.pair.PullUpPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pullup.check.PullUpCheckActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.pullup.test.PullUpIndividualActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pullup.test.PullUpTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pullup.setting.PullUpSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.pullup.PullUpSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.medicine_ball.MedicineBallSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.medicine_ball.MedicineBallFreeTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vccheck.pair.VcPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.situp.pair.SitPullPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <category android:name="android.intent.category.HOME" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.feipulai.exam.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MachineSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.main.SubItemsSelectActivity"
            android:screenOrientation="landscape" /> <!-- <activity android:name=".activity.ItemSelectActivity"/> -->
        <activity
            android:name=".activity.setting.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.LEDSettingActivity"
            android:screenOrientation="landscape" /> <!-- data related -->
        <activity
            android:name="com.feipulai.common.dbutils.FileSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.data.DataManageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.data.DataDisplayActivity"
            android:screenOrientation="landscape" /> <!-- jump rope -->
        <activity
            android:name=".activity.jump_rope.pair.JumpRopePairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.jump_rope.check.JumpRopeCheckActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.jump_rope.setting.JumpRopeSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.jump_rope.test.JumpRopeTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.jump_rope.base.result.RadioResultActivity"
            android:screenOrientation="landscape" /> <!-- sit up -->
        <!-- <activity android:name=".activity.situp.BasePairActivity" /> -->
        <!-- <activity android:name=".activity.situp.SitUpCheckActivity" /> -->
        <!-- <activity android:name=".activity.situp.SitUpSettingActivity" /> -->
        <!-- <activity android:name=".activity.situp.SitUpTimingActivity" /> -->
        <!-- <activity android:name=".activity.situp.SitUpResultActivity" /> -->
        <activity
            android:name=".activity.situp.setting.SitUpSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.situp.test.SitUpTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.situp.check.SitUpCheckActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.height_weight.HeightWeightCheckActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- sit reach -->
        <activity
            android:name=".activity.sitreach.SitReachTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.SitReachSelectActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.more.SitReachMoreActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.more.pair.SitReachPairActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.SitReachSettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.sitreach.SitReachFaceIDActivity"
            android:screenOrientation="landscape" /> <!-- stand jump -->
        <activity
            android:name=".activity.standjump.StandJumpTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.standjump.Freedom.StandJumpFreedomActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.standjump.StandJumpSettingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.standjump.StandJumpSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.standjump.more.StandJumpMoreActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.standjump.more.StandJumpPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.standjump.Freedom.StandJumpRadioFreedomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.data.DataRetrieveActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.base.BaseItemSettingActivity"
            android:screenOrientation="landscape" /> <!-- vital capacity -->
        <activity
            android:name=".activity.vccheck.FreeTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vccheck.VitalCapacityTestActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.vccheck.VitalCapacityFaceIDActivity"
            android:screenOrientation="landscape" /> <!-- medicine ball -->
        <activity
            android:name=".activity.medicine_ball.MedicineBallTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicine_ball.MedicineBallSelectActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicine_ball.pair.MedicineBallPairActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicine_ball.more_device.MedicineBallRadioFreedomActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicine_ball.more_device.MedicineBallMoreActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.medicine_ball.MedicineBallFaceIDActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vccheck.UploadActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.radio_timer.RunTimerTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.radio_timer.RunTimerSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vccheck.VitalTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.radio_timer.RunTimerFreeTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.grip_dynamometer.pair.GripPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ranger.RangerTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ranger.RangerSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ranger.bluetooth.BluetoothSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.VisionTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.VisionSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.Radio.VisionTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.Radio.VisionCheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.Radio.VisionSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vision.bluetooth.BlueToothListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ranger.RangerPersonTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />

        <service android:name="com.inuker.bluetooth.library.BluetoothService" />

        <service android:name=".activity.base.UpdateService" />

        <activity
            android:name=".activity.explain.ExplainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.sporttime.SportPairActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.sporttime.SportSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.sporttime.SportInitWayActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.sporttime.SportTimeActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.vccheck.GripSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.radio_timer.RunTimerSelectActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.radio_timer.newRadioTimer.RadioDeviceDetailActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.radio_timer.newRadioTimer.pair.NewRadioPairActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.radio_timer.newRadioTimer.NewRadioTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.radio_timer.newRadioTimer.PreTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.setting.CorrespondTestActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.feipulai.host.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>